aiosqlite==0.16.1
asyncio==3.4.3
attrs==20.3.0
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.63.0
h11==0.12.0
idna==3.1
iniconfig==1.1.1
iso8601==0.1.14
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.7.3
pyparsing==2.4.7
PyPika==0.44.1
pytest==6.2.2
python-dotenv==0.15.0
python-jose==3.2.0
python-multipart==0.0.5
pytz==2020.5
rsa==4.7
six==1.15.0
starlette==0.13.6
toml==0.10.2
tortoise-orm==0.16.21
typing-extensions==3.7.4.3
uvicorn==0.13.3
